*{
  box-sizing: border-box;
  margin: 0;
  font-family: "Metamorphous", serif;
}

:root{
  --storm-blue: #3F5F7A;
  --sky-blue: #6F889B;
  --stone: #7A726A;
  --dark-stone: #3E4348;
  --sand: #D9C7A8;
  --mist: #F2F3F1;
  --gold: #C9A35A;
  --leather: #6A4E3A;
}

.menu {
  position: absolute;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  width: 100px;
  height: auto;
}

.menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-shadow: 2px 2px 5px black;
}

header h1{
  text-align: center;
  font-size: 80px;
  color: #C9A35A;
  text-shadow: 2px 2px 5px black;
}

header p{
  color: #FDFCF7;
  text-shadow: 2px 2px 6px rgba(0,0,0,.9);
  font-size: 2rem;
}

header{
  height: 100vh;
  background-image: url(img/fondo.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrousel {
  width: 50%;
  margin: 100px 100px;
  display: flex;
}

.carrousel p, .carrousel h5{
  color: #F2F3F1;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

