* {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    height: 100vh;
    background-color: azure;
    display: flex;
    flex-wrap: wrap;
}

div {
    width: 50%;
    height: 50vh;
    border: 1px solid gray;
}

.form-control{
    width: 80%;
    margin: .5em;
}

p {
    font-size: 1.3em;
    font-weight: bold;
    color: coral;
}
