main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  flex-direction: column;
}

input {
  padding: 10px 90px;
  display: flex;
  flex-direction: column;
  margin: 20px 160px 0;
}

button{
  margin: 10px 160px;
  padding: 10px 90px;
}